.social-list {
  display: flex;
  gap: 5px;
  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: $color-logo-primary;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $transition-primary;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: $color-hover-primary;
    }

    &:focus-within svg {
      fill: $color-hover-secondary;
    }
  }

  & svg {
    width: 16px;
    height: 16px;
    fill: $back-footer;
    transition: fill $transition-primary;

    &:hover,
    &:focus {
      fill: $color-hover-secondary;
    }
  }
}
