.hero {
  background-color: $back-secondary;
  &__container {
    padding-top: 103px;
    padding-bottom: 270px;
    position: relative;
  }

  &__title {
    font-weight: 100;
    font-size: rem(33);
    line-height: 0.97;
    letter-spacing: rem(-0.5);
  }

  &__title--mod {
    font-weight: 500;
  }

  &__img {
    position: absolute;
    right: 15px;
    bottom: 0;
  }

  @media (min-width: $tablet) {
    background-color: $back-primary;

    &__container {
      display: flex;
      padding-bottom: 100px;
    }

    &__title {
      font-size: rem(60);
      margin-right: 10px;
    }

    &__img {
      position: relative;
      right: 0;
    }
  }

  @media (min-width: $pc) {
    &__title {
      font-size: rem(96);
    }
  }
}
