.video {
  background-color: $back-secondary;
  &__container {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  &__title {
    font-weight: 100;
    font-size: rem(33);
    line-height: 0.97;
    letter-spacing: -0.5px;
    margin-bottom: 25px;
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
    padding: 0px 30px;
  }

  &__box {
    position: relative;
    padding: 0px 0px 50% 0px;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__desc {
    line-height: 1.25;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 23px;
  }

  .swiper-button-prev.video-prev::after,
  .swiper-button-next.video-next::after {
    color: #757575;
  }

  .swiper-button-prev.video-prev {
    top: 40%;
    left: 0;
  }
  .swiper-button-next.video-next {
    top: 40%;
    right: 0;
  }

  &__link {
    font-weight: 500;
    font-size: rem(18);
    line-height: 1.11;
    text-decoration-line: underline !important;
  }

  @media (min-width: $tablet) {
    background-color: $back-primary;
    &__container {
      position: relative;
      padding-top: 90px;
    }

    &__slider {
      position: static;
    }

    &__slider.swiper {
      margin-left: 200px;
      margin-right: 0;
      position: static;
    }

    &__slide {
      padding: 0px 0px;
    }

    &__title {
      font-weight: 200;
      font-size: rem(48);
      line-height: 1;
      margin-bottom: 44px;
    }

    &__desc {
      line-height: 1.25;
      max-width: 250px;
      margin-top: 23px;
      margin-bottom: 40px;
    }

    .swiper-button-prev.video-prev::after,
    .swiper-button-next.video-next::after {
      color: #fff;
    }

    .swiper-button-prev.video-prev {
      top: 50%;
      left: 20px;
    }
    .swiper-button-next.video-next {
      top: 50%;
      left: 90px;
    }
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.video-prev {
}
.swiper-button-next {
}
.video-next {
}
