.footer {
  background-color: $back-footer;
  &__container {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
  }

  &__list + &__list {
    margin-top: 35px;
  }

  &__list {
    font-weight: 300;
    font-size: rem(18);
    line-height: 1.11;
    color: $color-fonts-footer;

    & li:first-child {
      margin-bottom: 10px;
    }
  }

  &__list--mod {
    font-weight: 600;
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__copy {
    margin-top: 35px;
    font-weight: 300;
    font-size: rem(14);
    line-height: 1.14;
    color: $color-fonts-footer;
  }
  &__social-list-copy {
    display: none;
  }

  @media (min-width: $mobile) {
    &__container {
      display: flex;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 60px;
    }

    &__logo {
      margin-bottom: 0;
      align-items: start;
      @include adaptiveValue("margin-right", 100, 5);
    }

    &__copy {
      margin-top: unset;
    }

    // &__social-list-logo {
    //   display: none;
    // }

    &__list {
      font-size: rem(14);
      line-height: 1.14;
      max-width: 340px;
      height: auto;
      @include adaptiveValue("margin-right", 20, 5);

      & li:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__list + &__list {
      margin-top: 0;
    }

    &__social-list-copy {
      display: block;
    }
  }
}

.social-net {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  &__item {
    cursor: pointer;
    & svg {
      width: 15px;
      height: 15px;
      fill: $color-fonts-footer;
      margin-right: 5px;
    }
  }
}
