// ===== Colors fonts ==== //
$color-fonts-footer: #ffffff;
$color-fonts-header: #ffffff;

// ================================================ //

// ===== colors ==== //
$color-logo-primary: #ffffff;
// ================================================ //

// ===== backgrounds ==== //
$back-footer-header: #121212;
$back-menu-header: rgba(0, 0, 0, 0.9);

// ================================================ //
