// ===== Colors fonts ==== //
$color-fonts-footer: #ffffff;
$color-fonts-header: #ffffff;
$color-fonts-secondary: #ffffff;

// ================================================ //

// ===== colors ==== //
$color-logo-primary: #ffffff;
// ================================================ //

// ===== backgrounds ==== //
$back-footer: #121212;
$back-menu-header: rgba(0, 0, 0, 0.85);
$back-primary: #e5e5e5;
$back-secondary: #ffffff;
$back-button: #121212;

// ================================================ //
